/* NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


@import '../../@core/scss/base/bootstrap-extended/_variables.scss';
.form-label{
    color: white;
}
.form-check-label{
    color: white;
}
.input-group-text{
    color: black !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    -webkit-text-fill-color: #000 !important;
}
.form-control{
    color: black;
}
.brand-text{
	text-transform: uppercase;
}
// Header
.header{
    position: absolute;
    left: 10%;
    top: 0%;
}
.only-logo img {
    width: 60%; 
}
.header-navbar .navbar-container ul.navbar-nav li > a.nav-link{
    color: $white;
}
.dropdown-item{
    color: $black;
}
.top-bar{
    padding: 5px 0px;
    p{
        color: $primary;
        float: right;padding-right: 0px;
        b{
            color: $primary;
        }
    }
}
.main-nav{
    background: linear-gradient(90deg, #9B3A04 34.2%, #6B1703 63.11%, #4B0003 86.23%);
    height:60px;
    img{
        width: 80%;
        position: relative;
        bottom: 0px;
    }
}
.mobile-menu img{
    width: 50%;
}
.main-menu.menu-light .navigation{
margin-top: 60px;
}
.main-menu.menu-light .navigation > li.open:not(.menu-item-closing) > a, .main-menu.menu-light .navigation > li.sidebar-group-active > a{
    background: none;
    color: $white;
}
.main-menu.menu-light .navigation{
    background: linear-gradient(90deg, #9B3A04 34.2%, #6B1703 63.11%, #4B0003 86.23%);
}
.main-menu.menu-light .navigation li a{
    color: $white;
}
// Footer
footer.footer{
    padding: 0;
}
.footer-copy {
	background: #652B2D;
	padding: 10px;
}
.footer-page {
	padding: 50px 20px;
	background: #FFEAE4;
	h5 {
		font-size: 18px;
		color: $black;
		font-weight: 600;
	}
	p {
		color: $black;
		font-size: 14px;
		font-weight: 500;
	}
}
.footer-links {
	ul {
		display: grid;
		padding: 0;
		a {
			margin: 4px 0px;
			color: $black;
			font-weight: 500;
		}
	}
}
.footer-top {
	position: relative;
	right: 0%;
	img {
		position: absolute;
		right: 0;
		bottom: 48px;
	}
}
.devotiee-details-right {
	padding: 80px 0px 80px 0px;
	h2 {
		color: $white;
        font-size: 40px;
        font-weight: 900;
	}
	p {
		color: $white;
	}
}

@media only screen and (max-width: 680px) {
    .only-logo img {
        width: 40%; 
    }
	.footer-top{
		z-index: -999;
	}
}